* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.scoreContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.scoreContainer div {
  border: solid black 3px;
  padding: 5px;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

.play {
  width: 150px;
  height: 150px;
  padding: 15px 20px;
  font-size: 48px;
  border: none;
  border-radius: 20px;
}

.play:hover {
  transform: scale(1.1);
  transition: .5s;
}

.emoji {
  margin-bottom: 8px;
}

#rock:hover {
  background-color: lightblue;
}

#paper:hover {
  background-color: seagreen;
  color: lightgray;
}

#scissors:hover {
  background-color: plum;
}

.roundMasterContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.roundContainer {
  border: 2px solid black;
  width: 200px;
  height: 75px;
  text-align: center;
}

.roundContainer h3 {
  padding-bottom: 8px;
}

h2 {
  color: goldenrod;
  text-align: center;
}

.finalMasterContainer {
  display: flex;
  justify-content: center;
}

.finalContainer {
  border: 4px solid goldenrod;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.finalContainer h2 {
  text-decoration: underline;
}

.finalResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 20px;
}

.resetContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#reset {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: gainsboro;
}

#reset:hover {
  background-color: antiquewhite;
}